.item {
  margin: 1rem 0;
  width: 300px;
  height: 100%;
  
  
}

.image {
  width: 100%;
  height: 175px;
  overflow: hidden;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width:max-content;
  object-fit: cover;
 
}

.content {
  
  text-align: center;
  padding: 0.5rem;
  height: 12rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
  
}

.content price {
  color: red;
  
}
.actions {
  padding: 0.5rem;
  text-align: center;
  
}

.actions button {
  
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  align-content: center;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}